<div class="page">
  <div class="main-div">
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LOGIN"  name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="PASSWORD"  type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>


    <button mat-raised-button (click)="login()" color="primary">CONNEXION</button>
    <button mat-raised-button (click)="linkedin()" color="primary">LINKEDIN</button>
    <button mat-raised-button (click)="github()" color="primary">GITHUB</button>
    <button mat-raised-button (click)="newAccount()" color="primary">CREATE A NEW ACCOUNT</button>
  </div>
</div>